<% provide(:title, "Edit #{@season.name}") %>
<h1>Update <%= "#{@season.name}" %></h1>
<div class="row-fluid form-horizontal">
	<div class="span6">
		<%= simple_form_for @season do |f| %>
			<%= f.error_notification %>
			<%= f.input :name, label: "Name", placeholder: "#{@season.name}" %>

			<%= f.input :season_start, label: "Start of season", placeholder: "#{@season.season_start}" %>

			<%= f.input :season_end, label: "End of season", placeholder: "#{@season.season_end}" %>

			<%= f.association :players, label: "Select players", as: :check_boxes %>

			<%= f.error :base %>
			<%= f.submit "Update Season", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>