<% provide(:title, "New Season") %>
<h1>New Season Creation</h1>
<div class="row-fluid form-horizontal">
	<div class="span 6">
		<%= simple_form_for @season do |f| %>
			<%= f.error_notification %>
			<%= f.input :name, label: "Name" %>
			<%= f.input :season_start, label: "Start of season", as: :datepicker %>
			<%= f.input :season_end, label: "End of season", as: :datepicker %>
			<%= f.association :players, label: "Select players", as: :check_boxes %>
			<%= f.association :games, label: "Add Games to Season", as: :check_boxes, label_method: :date %>
			<%= f.error :base %>
			<%= f.submit "Create Season", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>

