<%= provide(:title, "New Game") %>
<h1>Create a new game</h1>
<div class="row-fluid form-horizontal">
	<div class="span 6">
		<%= simple_form_for(@game) do |f| %>
			<%= f.error_notification %>
			<!-- If else needed to simplify tests.
				should return later to test that valid date
				options are being saved to the database. -->
			<% if Rails.env.test? %>
				<%= f.input :date, label: 'Date', as: :text %>
			<% else %>
				<%= f.input :date, as: :datepicker %>
			<% end %>
			<%= f.input :time, as: :string %>			
			<%= f.input :location %>			
			<%= f.input :opponent %>
			<%= f.input :official, wrapper_html: { class: 'game_class' } %>
			<%= f.input :scrimmage, wrapper_html: { class: 'game_class' } %>
			<%= f.input :practice, wrapper_html: { class: 'game_class' } %>
			<%= f.input :moose_goals, input_html: { value: '0' } %>
			<%= f.input :opponent_goals, input_html: { value: '0' } %>
			<%= f.input :moose_assists, input_html: { value: '0' } %>
			<%= f.input :opponent_assists, input_html: { value: '0' } %>
			<%= f.input :moose_shg, input_html: { value: '0' } %>
			<%= f.input :opponent_shg, input_html: { value: '0' } %>
			<%= f.input :moose_ppg, input_html: { value: '0' } %>
			<%= f.input :opponent_ppg, input_html: { value: '0' } %>
			<%= f.input :moose_penalties, input_html: { value: '0' } %>
			<%= f.input :opponent_penalties, input_html: { value: '0' } %>
			<%= f.error :base %>
			<%= f.submit "Create Game", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>