<% provide(:title, "edit #{@player.firstname} #{@player.lastname}") %>
<h1>Update <%= "#{@player.firstname} #{@player.lastname}" %> stats</h1>
<div class="row-fluid">
	<div class="span6">
		<form class="form-horizontal">
			<%= simple_form_for(@player) do |f| %>
				<%= f.error_notification %>
				<%= f.input :firstname, label: "First Name" %>
				<%= f.input :lastname, label: "Last Name" %>
				<%= f.input :number %>
				<%= f.input :position %>
				<%= f.input :gamesplayed, label: "Games Played" %>
				<%= f.input :goals %>
				<%= f.input :assists %>
				<%= f.input :shorthandedgoals, label: "SHG" %>
				<%= f.input :powerplaygoals, label: "PPG" %>
				<%= f.input :penalties, label: "PIM" %>
				<%= f.error :base %>
				<%= f.button :submit %>
			<% end %>
		</form>
	</div>
	<div class="span2">
		<ul class="player-attributes textarea">
			<li><%= @player.firstname %></li>
			<li><%= @player.lastname %></li>
			<li><%= @player.number %></li>
			<li><%= @player.position %></li>
			<li><%= @player.gamesplayed %></li>
			<li><%= @player.goals %></li>
			<li><%= @player.assists %></li>
			<li><%= @player.shorthandedgoals %></li>
			<li><%= @player.powerplaygoals %></li>
			<li><%= @player.penalties %></li>
		</ul>
	</div>
</div>