<% provide(:title, "edit #{@player.firstname} #{@player.lastname}") %>
<h1>Update <%= "#{@player.firstname} #{@player.lastname}" %> stats</h1>
<div class="row-fluid form-horizontal">
	<div class="span6">
		<%= simple_form_for(@player) do |f| %>
			<%= f.error_notification %>
			<%= f.input :firstname, label: "First Name" %>

			<%= f.input :lastname, label: "Last Name", placeholder: "#{@player.lastname}" %>

			<%= f.input :number, placeholder: "#{@player.number}" %>

			<%= f.input :position %>

			<%= f.input :gamesplayed, 
				label: "Games Played", placeholder: "#{@player.gamesplayed}" %>

			<%= f.input :goals, placeholder: "#{@player.goals}" %>

			<%= f.input :assists, placeholder: "#{@player.assists}" %>

			<%= f.input :shorthandedgoals, 
				label: "SHG", placeholder: "#{@player.shorthandedgoals}" %>

			<%= f.input :powerplaygoals, 
				label: "PPG", placeholder: "#{@player.powerplaygoals}" %>

			<%= f.input :penalties, label: "PIM", placeholder: "#{@player.penalties}" %>

			<%= f.error :base %>
			<%= f.submit "Update Player", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>