<% provide(:title, "Edit #{@player.name}") %>
<h1>Update <%= "#{@player.name}" %> stats</h1>
<div class="row-fluid form-horizontal">
	<div class="span6">
		<%= simple_form_for @player do |f| %>
			<%= f.error_notification %>
			<%= f.input :name, label: "Name", placeholder: "#{@player.name}" %>
			<%= f.input :number, placeholder: "#{@player.number}" %>
			<%= f.input :position %>
			<%= f.association :seasons, label: "Select Teams", as: :check_boxes %>
			<%= f.error :base %>
			<%= f.submit "Update Player", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>