<% provide(:title, 'New Player') %>
<h1>New Player Creation</h1>
<div class="row-fluid form-horizontal">
	<div class="span 6">
		<%= simple_form_for(@player) do |f| %>
			<%= f.error_notification %>
			<%= f.input :name, label: "Name" %>
			<%= f.input :number %>
			<%= f.input :position %>
			<%= f.error :base %>
			<%= f.submit "Create Player", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
