<% provide(:title, 'New Player') %>
<h1>New Player Creation</h1>
<div class="row">
	<div class="span3 offset3"
		<form class="form-horizontal">
			<%= simple_form_for(@player) do |f| %>
				<%= f.error_notification %>
				<%= f.input :firstname %>
				<%= f.input :lastname %>
				<%= f.input :number %>
				<%= f.input :gamesplayed %>
				<%= f.input :goals %>
				<%= f.input :assists %>
				<%= f.input :shorthandedgoals %>
				<%= f.input :powerplaygoals %>
				<%= f.input :penalties %>
				<%= f.error :base %>
				<%= f.button :submit %>
			<% end %>
		</form>
	</div>
</div>
