<div class="container">
	<header class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to image_tag("PrimaryLogohires.png", size: "250x250", alt: "Moose Hockey"), 
										root_path, id: "logo" %>
				<nav>
					<ul class="nav">
						<li><%= link_to "Calendar", calendar_path %></li>
						<li><%= link_to "Roster", roster_path %></li>
						<li><%= link_to "Team History", '#' %></li>
						<li><%= link_to "Game Archive", '#' %></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
</div>